.about-me {
  padding: 20px;
  background-color: #242424;
  text-align: center;
}

.about-me h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-me p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0;
}
